Repository qiskit-community/prototype-qrao, pull requests merged in 2022-06, with the labels that each got.

#29 Move the background information to docs/background/README.md
  README.md
  docs/background/README.md
  docs/background/quantum_relaxations.md
  docs/how_tos/check_encoding_problem_commutation.ipynb
  docs/tutorials/01_getting_started.ipynb
  docs/tutorials/02_advanced_usage.ipynb
Labels: documentation

#27 Add comparison to exact optimal function value using `CplexOptimizer`
  docs/tutorials/01_getting_started.ipynb
  requirements.txt
Labels: documentation, needs: changelog

#40 Fix a bug in weighted magic rounding
  qrao/magic_rounding.py
  tests/test_magic_rounding.py
Labels: bug, rounding, needs: changelog

#33 Add magic rounding support for (1,1,p) and (2,1,p) QRACs
  README.md
  qrao/magic_rounding.py
  qrao/rounding_common.py
  tests/test_magic_rounding.py
Labels: rounding, needs: changelog
